@import "tailwindcss";

.bg{
    background-color: #1C192E;
}
.card-bg{
    background-color: #292543;
}
.select-bg{
    background-color: #4a428068;
}
.hourly-bg{
    background-color: #39355e94;
}
.border-color{
    border: 1px solid;
    border-color: #6B668B;
}
.secondary-text{
    color: #C7C5D1;
}